{% extends 'base.html' %}

{% block title %}Detalhes do product{% endblock %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Identificador</th>
            <th scope="col">Nome do produto</th>
            <th scope="col">Categoria</th>
            <th scope="col">Quantidade</th>
          </tr>
    </thead>
    <tbody>
        <tr>
            <th>{{ product.id }}</th>
            <td>{{ product.product_type.name }}</td>
            <td>{{ product.name_product }}</td>
            <td>{{ product.quantity }}</td>
        </tr>
        <tr>
            
        </tr>
        <tr>
            
         </tr>
    </tbody>
</table>
<div class="d-grid gap-2 col-1 mx-auto p-2">
    <a href="{% url 'product:product_list' %}" class="btn btn-secondary">← Voltar</a>
</div>
{% endblock %}