{% load static %}
<div class="header-top">
    <div><img class="img-logo" src="{% static "images/image.png" %}" alt=""></div>
    
    <div class="breadcrumbs">
        {% block breadcrumbs %}
        <nav>
          <a href="{% url 'home' %}">Home</a> &gt; {{ page_title }}
        </nav>
      {% endblock %}
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
          <i class="fas fa-user"></i> Conta
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#"><i class="fas fa-user"></i> Perfil</a></li>
          <li><a class="dropdown-item" href="#"><i class="fas fa-cog"></i> Configuração</a></li>
        </ul>
      </div>
</div>
<div class="header-bottom">
    <nav class="nav justify-content-center">
        <a class="nav-link" href="">Clientes</a>
        <a class="nav-link" href="{% url "product_list" %}">Produtos</a>
        <a class="nav-link" href="">Veiculos</a>
        <a class="nav-link" href="">Saidas</a>
        <a class="nav-link" href="">Entradas</a>
        <a class="nav-link" href="">Fornecedores</a>
    </nav>
</div>
